@use '../common.scss' as *;
@use './var.scss' as *;

.page-form-layout-v2 {
  @include bole-set-component-css-var('page-form-layout-v2', $bole-page-form-layout-v2);

  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #ffffff;

  .page-form-layout-v2-title-wrapper {
    display: flex;
    padding: 0 boleGetCssVar('page-form-layout-v2', 'padding-horizontal');
    height: 48px;
    background-color: getCssVar('color', 'primary', 'light-9');

    .page-form-layout-v2-title-left {
      display: flex;
      align-items: center;
      min-width: 0;
      flex: 1;

      .page-form-layout-v2-title-line {
        margin-right: 4px;
        width: 2px;
        height: 16px;
        background: getCssVar('color', 'primary');
      }

      .page-form-layout-v2-title {
        min-width: 0;
        font-size: 16px;
        font-weight: bold;
        color: getCssVar('color', 'primary');
        flex: 1;
        line-height: 22px;

        @include utils-ellipsis;
      }
    }
  }

  .el-form {
    padding: 40px boleGetCssVar('page-form-layout-v2', 'padding-horizontal') 0;
    // flex: 1;
    // height: 0;
  }

  .el-dialog .el-form {
    padding: 0;
  }

  .page-form-layout-v2-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 boleGetCssVar('page-form-layout-v2', 'padding-horizontal');
    height: 72px;
    border-top: 1px solid getCssVar('border-color', 'lighter');

    .el-button {
      padding: 9px 28px;
      font-size: 14px;
      border-radius: 6px;
    }
  }
}

.center-layout-page-tab {
  .el-tabs {
    --el-tabs-header-height: 66px;

    .el-tabs__header {
      margin-bottom: 10px;
      background-color: #ffffff;

      .el-tabs__nav-wrap {
        padding: 0 20px;

        &::after {
          display: none;
        }
      }
    }
  }
}
